* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid red; */
  font-family:'Courier New', Courier, monospace;
}

.board {
  display: grid;
  height: 500px;
  width: 500px;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(6, 1fr);
  border: 1px solid black;
  gap: 2px;
  padding: 2px;
  background-color: yellow;
}

.row {
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
}

.cell {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid black;
  margin: 0 5px;
  cursor: pointer;
  font-size: 1.5rem;
}

.cell.player-1 {
  background-color: red;
}

.cell.player-2 {
  background-color: green;
}